@model DnDWebApp_CC.Models.Entities.Character
@using DnDWebApp_CC.Models.Entities

@{
    ViewData["Title"] = "Create Character";
    var classes = ViewData["allClasses"] as List<CharacterClass>;
    var backgrounds = ViewData["allBackgrounds"] as List<Background>;
    var species = ViewData["allSpecies"] as List<Species>;
}

<h1>Create a new Character</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Alignment" class="control-label"></label>
                <input asp-for="Alignment" class="form-control" />
                <span asp-validation-for="Alignment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProficiencyBonus" class="control-label"></label>
                <input asp-for="ProficiencyBonus" class="form-control" />
                <span asp-validation-for="ProficiencyBonus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <select asp-for="ClassId" class="form-select">
                    @foreach (var charClass in classes)
                    {
                        <option value="@charClass.Id">@charClass.Name</option>
                    }
                </select>
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BackgroundId" class="control-label"></label>
                <select asp-for="BackgroundId" class="form-select">
                    @foreach (var background in backgrounds)
                    {
                        <option value="@background.Id">@background.Name</option>
                    }
                </select>
                <span asp-validation-for="BackgroundId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SpeciesId" class="control-label"></label>
                <select asp-for="SpeciesId" class="form-select">
                    @foreach (var speciesSelect in species)
                    {
                        <option value="@speciesSelect.Id">@speciesSelect.Name</option>
                    }
                </select>
                <span asp-validation-for="SpeciesId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
