@model IEnumerable<DnDWebApp_CC.Models.Entities.Species>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
                Skills
            </th>
                Languages
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <ul>
                        @foreach(var skill in item.Skills)
                        {
                           <li>@skill.Skill.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach(var language in item.Languages)
                        {
                           <li>@language</li>
                        }
                    </ul>
                </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
