@model IEnumerable<DnDWebApp_CC.Models.Entities.CharacterClass>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/hoverNav.css" />
}
<body>
    <button class="btn btn-outline-light" id="classBtnTwo">Switch class set to  1</button>
    <button class="btn btn-outline-light" id="classBtnOne">Switch class set to 2</button>


    <div class="main-container" id="classSetOne" style="display:flex;">
        @foreach (var item in Model.Where(i => i.Id <= 6))
        {
            <div class="image-preview">
                <img src="~/images/@(item.Name.ToLower()+".png")" alt="@item.Name picture" style="" class="classImgSetTwo" />
                <span class="overlay">
                    <div class="desc">
                        <br />
                        <br />
                        <h1>@item.Name</h1>
                        <p>
                            @item.Description <br /><br />
                        </p>
                        <p>
                            Skills:
                            <ul>
                                @foreach (var skill in item.Skills)
                                {
                                    <li>@skill.Skill.Name</li>
                                }
                                @if (item.Name == "Bard")
                                {
                                    <li>Bards have access to any skills of their choice.</li>
                                }
                            </ul>

                        </p>
                        @if (item.Spellcaster)
                        {
                            <p>
                                Spells
                                <ul>
                                    @foreach (var spell in item.Spells)
                                    {
                                        <li>@spell.Spell.Name</li>
                                    }
                                </ul>
                            </p>
                        }
                    </div>
                </span>
            </div>
        }
    </div>
</body>


@section Scripts {
    <script src="~/lib/gsap/index.js" type="module"></script>
    <script src="~/js/classIndex.js" type="module"></script>
}
