@model IEnumerable<DnDWebApp_CC.Models.Entities.CharacterClass>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/hoverNav.css" />
}
<!--
<p>
<a asp-action="Create">Create New</a>
</p>
<table class="table">
<thead>
<tr>
<th>

</th>
<th>
@Html.DisplayNameFor(model => model.Name)
</th>
<th>
@Html.DisplayNameFor(model => model.Description)
</th>
<th>
Hit Dice
</th>
<th>
Can cast spells?
</th>
<th>
@Html.DisplayNameFor(model => model.Skills)
</th>
<th>
@Html.DisplayNameFor(model => model.Spells)
</th>
<th>
@Html.DisplayNameFor(model => model.Proficiencies)
</th>
<th>
@Html.DisplayNameFor(model => model.Features)
</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                <img src="~/images/@(item.Name.ToLower()+".png")"  style=""/>
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.HitDice.Size)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Spellcaster)
            </td>
            <td>
                <ul>
                @foreach (var skill in item.Skills)
                {
                            <li>@skill.Skill.Name</li>
                }
                </ul>
            </td>
            <td>
                <ul>
                @if (item.Spellcaster)
                {
                    @foreach (var spell in item.Spells)
                    {
                        @if (spell != null)
                        {
                                            <li>@spell.Spell.Name</li>
                        }
                    }
                }
                </ul>
            </td>
            <td>
                <ul>
                @foreach (var prof in item.Proficiencies)
                {
                            <li>@prof</li>
                }
                </ul>
            </td>
            <td>
                <ul>
                @foreach (var feature in item.Features)
                {
                            <li>@feature</li>
                }
                </ul>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
</tbody>
</table>
-->


<body>
    <button class="btn btn-outline-light" id="classBtnTwo">Switch class set to  1</button>
    <button class="btn btn-outline-light" id="classBtnOne">Switch class set to 2</button>


    <div class="main-container" id="classSetOne" style="display:flex;">
        @foreach (var item in Model.Where(i => i.Id <= 6))
        {
            <div class="image-preview">
                <img src="~/images/@(item.Name.ToLower()+".png")" alt="@item.Name picture" style="" class="classImgSetTwo" />
                <span class="overlay">
                    <div class="desc">
                        <br />
                        <br />
                        <h1>@item.Name</h1>
                        <p>
                            @item.Description <br /><br />
                        </p>
                        <p>
                            Skills:
                            <ul>
                                @foreach (var skill in item.Skills)
                                {
                                    <li>@skill.Skill.Name</li>
                                }
                                @if (item.Name == "Bard")
                                {
                                    <li>Bards have access to any skills of their choice.</li>
                                }
                            </ul>

                        </p>
                        @if (item.Spellcaster)
                        {
                            <p>
                                Spells
                                <ul>
                                    @foreach (var spell in item.Spells)
                                    {
                                        <li>@spell.Spell.Name</li>
                                    }
                                </ul>
                            </p>
                        }
                    </div>
                </span>
            </div>
        }
    </div>
</body>


@section Scripts {
    <script src="~/lib/gsap/all.js" type="module"></script>
    <script src="~/js/classIndex.js" type="module"></script>
}
